@charset "UTF-8";
/* Стили страницы Наши ценности */
.intro-text--small {
  padding-top: 155px;
  padding-bottom: 30px;
}

.intro-text--small p {
  font-size: 18px;
  line-height: 24px;
}

.p-video {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9091;
}

.p-video__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 77, 78, 0.9);
  opacity: 0;
}

.p-video__center {
  position: relative;
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  max-width: 1090px;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
}

.p-video__center::after {
  content: '';
  display: block;
  padding-top: 56.5%;
}

.p-video__center iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-video__close {
  display: block;
  position: absolute;
  top: 0;
  right: -45px;
  width: 35px;
  height: 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-video__close svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.p-video__close svg * {
  fill: #fff5f5;
}

.p-video__close:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.p-video-show {
  overflow: hidden;
}

.p-video-show .p-video {
  visibility: visible;
}

.p-video-show .p-video__wrapper {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.p-video-show .p-video__center {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-video {
  max-width: 1150px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.main-video::after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 55.5%;
}

.main-video iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-wrapper {
  background-color: #fff;
}

.main-content {
  max-width: 1150px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
  font-family: 'unicredit_cy';
}

.main-content__what {
  display: inline-block;
  position: relative;
  font-size: 52px;
  line-height: 50px;
  color: #252525;
  font-weight: bold;
  margin-top: 63px;
  padding-left: 64px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-content__what::after {
  content: '';
  display: block;
  position: absolute;
  left: 4px;
  top: 0.5em;
  margin-top: -15px;
  width: 20px;
  height: 20px;
  border-right: 5px solid #58c7f8;
  border-bottom: 5px solid #58c7f8;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-content__what:hover {
  color: #615e61;
}

.main-content__what:hover .main-content__hash::after {
  width: 100%;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.main-content__hash {
  position: relative;
  display: inline-block;
  color: #58c7f8;
}

.main-content__hash span {
  position: relative;
  z-index: 5;
}

.main-content__hash::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -5%;
  height: 110%;
  width: 0;
  background-color: #eeeeee;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.main-content__list {
  margin-top: 152px;
  overflow: hidden;
}

.value {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -1px;
  font-family: Arial, Helvetica, sans-serif;
}

.value--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.value--fw {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.value:not(:last-of-type) {
  margin-bottom: 120px;
}

.value:last-of-type {
  margin-bottom: 170px;
}

.value__img {
  position: relative;
  width: 42%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.value__img::after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 100%;
}

.value__label {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 18px;
  line-height: 19px;
  font-weight: 300;
  color: #f6f6f6;
  font-family: 'unicredit_cy';
}

.value__description {
  position: relative;
  width: 46%;
}

.value__description--right {
  padding: 0 30px;
  padding-right: 0;
}

.value__description--left {
  padding: 0;
  padding-right: 30px;
}

.value__keyword {
  font-size: 16px;
  line-height: 18px;
  color: #fb2b23;
}

.value__keyword--hidden-desctop {
  display: none;
}

.value__keyword--small {
  width: 100%;
  padding: 0 30px;
}

.value__title {
  font-size: 48px;
  line-height: 1;
  color: #323232;
  font-weight: bold;
  margin-top: 23px;
  font-family: 'unicredit_cy';
}

.value__title--hidden-desctop {
  display: none;
}

.value__title--small {
  font-size: 34px;
  line-height: 44px;
  padding: 0 30px;
  margin-bottom: 30px;
  margin-top: 17px;
}

.value__text {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  color: #aaaaaa;
  padding-top: 30px;
  padding-left: 30px;
  margin-top: 34px;
}

.value__text::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 30px;
  width: 32px;
  height: 2px;
  background-color: #ff0000;
}

.value__text p:not(:last-of-type) {
  margin-bottom: 20px;
}

.value__hash {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #37bbf6;
  font-weight: bold;
  background-color: #eeeeee;
  margin-top: 15px;
}

.value__hash:hover, .value__hash:visited, .value__hash:focus {
  color: #37bbf6;
}

.value__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: #ff241f;
  margin-top: 66px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.value__button:hover {
  color: #929292;
}

.value__button:hover .value__icon svg * {
  fill: #929292;
}

.value__button:hover .value__icon svg .play-center {
  fill: #ff0600;
}

.value__icon {
  width: 38px;
  height: 38px;
  margin-right: 15px;
}

.value__icon svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.value__icon svg * {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.value__top-employer {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.value__top-employer li {
  width: 184px;
}

.value__top-employer li:not(:last-of-type) {
  margin-bottom: 13px;
}

.footer-social-list--bordered {
  border: none;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
  .intro-text--small p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
  }
  .value__text {
    font-size: 16px;
    line-height: 24px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1198px) {
  .main-content, .main-video {
    max-width: 100%;
  }
  .main-video iframe {
    left: 30px;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
  }
  .main-content__what {
    margin-top: 85px;
  }
  .main-content__list {
    margin-top: 100px;
    min-width: 100%;
    margin-left: -30px;
    margin-right: -30px;
  }
  .value:not(:last-of-type) {
    margin-bottom: 90px;
  }
  .value:last-of-type {
    margin-bottom: 80px;
  }
  .value__img {
    width: 48%;
  }
  .value__text {
    padding-left: 0;
    margin-top: 25px;
  }
  .value__text::after {
    left: 0;
  }
  .value__description {
    width: auto;
  }
  .value__description--right {
    padding-right: 30px;
  }
  .value__description--left {
    padding-left: 30px;
  }
  .value__hash {
    margin-top: 30px;
  }
  .value__button {
    margin-top: 34px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .intro-text--small p:first-of-type {
    margin-top: 44px;
  }
  .main-video iframe {
    left: 0;
    width: 100%;
  }
  .main-content {
    padding-left: 0;
    padding-right: 0;
  }
  .main-content__video {
    margin-top: 0px;
  }
  .main-content__what {
    display: none;
  }
  .main-content__list {
    margin: 0;
    margin-top: 70px;
  }
  .value {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .value:not(:last-of-type) {
    margin-bottom: 65px;
  }
  .value--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .value:last-of-type {
    margin-bottom: 35px;
  }
  .value__img {
    width: 100%;
  }
  .value__keyword--hidden-desctop {
    display: block;
  }
  .value__keyword--hidden-mobile {
    display: none;
  }
  .value__title--hidden-desctop {
    display: block;
  }
  .value__title--hidden-mobile {
    display: none;
  }
  .value__top-employer {
    position: relative;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    margin-top: 90px;
  }
  .value__top-employer li {
    width: 240px;
  }
  .hidden-small {
    display: none;
  }
  .value__top-employer {
    display: block;
  }
  .p-video__center {
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
  }
  .p-video__close {
    width: 20px;
    height: 20px;
    right: -25px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
