@font-face {
    font-family: 'unicredit_cy';
    src: url('../fonts/unicredit_cy-regular-webfont.eot');
    src: url('../fonts/unicredit_cy-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unicredit_cy-regular-webfont.woff2') format('woff2'),
         url('../fonts/unicredit_cy-regular-webfont.woff') format('woff'),
         url('../fonts/unicredit_cy-regular-webfont.ttf') format('truetype'),
         url('../fonts/unicredit_cy-regular-webfont.svg#unicredit_cy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'unicredit_cy';
    src: url('../fonts/unicredit_cy-medium-webfont.eot');
    src: url('../fonts/unicredit_cy-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unicredit_cy-medium-webfont.woff2') format('woff2'),
         url('../fonts/unicredit_cy-medium-webfont.woff') format('woff'),
         url('../fonts/unicredit_cy-medium-webfont.ttf') format('truetype'),
         url('../fonts/unicredit_cy-medium-webfont.svg#unicredit_cy') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'unicredit_cy';
    src: url('../fonts/unicredit_cy-light-webfont.eot');
    src: url('../fonts/unicredit_cy-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unicredit_cy-light-webfont.woff2') format('woff2'),
         url('../fonts/unicredit_cy-light-webfont.woff') format('woff'),
         url('../fonts/unicredit_cy-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'unicredit_cy';
    src: url('../fonts/unicredit_cy-bold-webfont.eot');
    src: url('../fonts/unicredit_cy-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unicredit_cy-bold-webfont.woff2') format('woff2'),
         url('../fonts/unicredit_cy-bold-webfont.woff') format('woff'),
         url('../fonts/unicredit_cy-bold-webfont.ttf') format('truetype'),
         url('../fonts/unicredit_cy-bold-webfont.svg#unicredit_cy') format('svg');
    font-weight: bold;
    font-style: normal;
}