/* grid */
.main {
    min-height: 100%;
    overflow: hidden;
    padding-bottom: $footer;
    position: relative;
}
.sprite {
    //background: $tr url('../images/sprite.png') 0 0 no-repeat;
}
.container,
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}