.title {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    h1 {
        color: #f2f2f2;
        text-align: center;
        font-weight: bold;
        line-height: 1;
        margin: 0;
        padding: 0;
        display: block;
        white-space: nowrap;
        font-weight: bold;
    }
}
.title-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.title-cell {
    padding-top: 45px;
    height: 538px;
    vertical-align: middle;
    width: 100%;
    display: table-cell;
}
/* header */
header {
    z-index: 9090;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    //background: $w;
    padding: 44px 0 0;
    //@include transition(padding-top $d $f);
    &.from-top {
        padding-top: 23px;
        position: fixed;
        background: $w;
        box-shadow: 0 0 12px rgba(0,0,0,.12);
        .logo {
            max-width: 200px;
        }
        .menu {
            margin-top: 0;
            & > li {
                & > a {
                    padding-bottom: 24px;
                }
            }
        }
        .menu-lg-white {
            & > li {
                & > a {
                    color: #222;
                }
            }
        }
    }
}
.logo {
    float: left;
    max-width: 230px;
    @include transition(max-width $d $f);
    a {
        display: block;
        @include transition(opacity 0.1s linear);
        &:hover {
            opacity: 0.8;
        }
    }
    svg {
        display: block;
        width: 100%;
        height: auto;
    }
}
.menu {
    margin-top: 8px;
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(top);
    & > li {
        margin: 0;
        & > a {
            display: inline-block;
            vertical-align: top;
            position: relative;
            font-family: $fu;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            color: #222222;
            letter-spacing: 1px;
            padding: 5px 0 7px;
            overflow: hidden;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 3px;
                background: $p;
                left: 0;
                @include transition(color $d $f, transform $d $f);
                @include transform(translate3d(0, 4px, 0));
            }
            &:hover {
                color: $p;
                &:after {
                    @include transform(translate3d(0, 0, 0));
                }
            }
        }
        &.active {
            & > a:after {
                @include transform(translate3d(0, 0, 0));
            }
        }
    }
}
.menu-lg-white {
    & > li {
        & > a {
            color: $w;
        }
    }
}
.navigation-toggle {
    z-index: 5050;
    display: none;
    position: absolute;
    right: 11px;
    top: -12px;
    width: 40px;
    height: 40px;
}
.navigation-toggle-icon {
    position: absolute;
    width: 22px;
    height: 2px;
    background: $black;
    left: 50%;
    top: 50%;
    margin-left: -11px;
    margin-top: -1px;
    text-indent: -9999px;
    @include transition(background 0.2s linear, transform 0.2s linear);
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 22px;
        height: 2px;
        background: $black;
        @include transition(transform 0.2s linear, background-color 0.2s linear);
        @include transform(translate3d(0, -7px, 0));
    }
    &:after {
        @include transform(translate3d(0, 7px, 0));
    }
}
.navigation-toggle-white {
    .navigation-toggle-icon {
        background-color: $w;
        &:before,
        &:after {
            background-color: $w;
        }
    }
}
.template-home {
    .navigation-toggle {
        top: -8px;
    }
    .navigation-toggle-icon {
        background-color: $w;
        &:before,
        &:after {
            background-color: $w;
        }
    }
}
.navigation-open {
    .navigation-toggle-icon {
        background: $tr !important;
        @include transform(scale(1.3));
        &:before {
            background-color: $w !important;
            @include transform(rotate(45deg));
        }
        &:after {
            background-color: $w !important;
            @include transform(rotate(-45deg));
        }
    }
}