/* home */
.template-home {
    .main {
        padding-bottom: 0;
    }
    footer {
        padding-top: 10px;
        background: $tr;
        margin-top: 0;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding-bottom: 0;
        height: 87px;
    }
    .footer-copyright-text {
        padding-top: 12px;
    }
}
.home-menu {
    margin-top: -35px;
    top: 50%;
    position: fixed;
    z-index: 6060;
    left: 30px;
    @include transform(translate3d(0, -50%, 0));
    li {
        margin: 24px 0 24px;
        a {
            color: $w;
            font-family: $fu;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            display: block;
            font-size: 12px;
            line-height: 24px;
            width: 172px;
            padding: 6px 0 4px 22px;
            position: relative;
            border-bottom: 2px solid $tr;
            &:before {
                width: 10px;
                height: 10px;
                content: "";
                position: absolute;
                top: 12px;
                left: 0;
                border: 1px solid #b6b6b6;
                border-radius: 50%;
                @include transition(background-color $d $f, border-color $d $f);
            }
            &:hover {
                color: $p;
                &:before {
                    border-color: $p;
                }
            }
        }
        &.active {
            a {
                border-bottom-color: $p;
                &:before {
                    border-color: $p;
                    background-color: $p;
                }
            }
        }
    }
}
.home-slide-hr {
    background: $p;
    width: 120px;
    height: 5px;
    margin-bottom: 44px;
    opacity: 0;
}
.home-slide-title {
    color: $w;
    font-size: 65px;
    line-height: 1;
    font-family: $fu;
    letter-spacing: -1.5px;
    opacity: 0;
    max-width: 1000px;
    width: 90%;
}
.home-slide-mobile-title {
    color: $w;
    font-family: $fu;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.home-slide-navigation {
    padding-top: 44px;
    padding-bottom: 30px;
    opacity: 0;
}
.section {
    &.fp-completely {
        .home-slide-hr {
            -webkit-animation: homeSlide 0.5s $f;
            animation: homeSlide 0.5s $f;
            opacity: 1;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
        .home-slide-title {
            -webkit-animation: homeSlide 0.5s $f;
            animation: homeSlide 0.5s $f;
            @include animation-delay(0.2s);
            opacity: 1;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
        .home-slide-navigation {
            -webkit-animation: homeSlide 0.5s $f;
            animation: homeSlide 0.5s $f;
            @include animation-delay(0.4s);
            opacity: 1;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }
}
