/* typography */
a {
    color: $link;
    text-decoration: none;
    background-color: $tr;
    @include transition(color $d $f, background-color $d $f, border-color $d $f);
    &:hover {
        color: $link-hover;
    }
    &.underline {
        text-decoration: underline;
    }
}
.wysiwyg {
    color: #323232;
    font-size: 16px;
    line-height: 28px;
    @extend .clearfix;
    h1 {
        font-size: 32px;
        line-height: 40px;
        font-family: $fu;
        margin-bottom: 24px;
    }
    h2 {
        font-size: 22px;
        line-height: 30px;
        font-family: $fu;
        font-weight: 500;
    }
    h3 {
        margin-bottom: $spacer;
    }
    h4 {
        font-size: $fontSize;
    }
    h5 {
        font-size: $fontSize;
    }
    h6 {
        font-size: $fontSize;
    }
    p {
        margin-bottom: $spacer;
    }
    a {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
    img {
        display: block;
        margin: 0 0 $spacer;
        &.align-left {
            margin: 0 $spacer $spacer 0;
        }
        &.align-right {
            margin: 0 0 $spacer $spacer;
        }
        &.align-center {
            margin-left: auto;
            margin-right: auto;
        }
    }
    blockquote {
        margin-bottom: $spacer;
        padding-left: $spacer;
        font-style: italic;
        p {
            margin-bottom: 0;
        }
    }
    hr {
        clear: both;
        margin-top: 30px;
        margin-bottom: 22px;
        border: 0;
        border-bottom: 3px solid $p;
        &.transparent {
            border-bottom-color: $transparent;
        }
        &.small {
            margin-top: 22px;
            margin-bottom: 33px;
            border-bottom-width: 2px;
        }
    }
    ul {
        overflow: hidden;
        margin-bottom: $spacer;
        list-style: inside disc;
        li {
            padding-left: $spacer;
        }
    }
    ol {
        overflow: hidden;
        margin-bottom: $spacer;
        list-style: inside decimal;
        li {
            padding-left: $spacer;
        }
    }
    table {
        margin-bottom: $spacer;
        th {
            padding: $spacer/2 $spacer;
            background: $light-gray;
            border: 1px solid $light-gray;
        }
        td {
            padding: $spacer/2 $spacer;
            border: 1px solid $light-gray;
        }
    }
}