// Colors
$black: #000000;
$gray-text: #7C8289;
$disable-text: #CED1D9;
$light-gray-border: #E2E5ED;
$dark-gray-border: #B4BBCD;
$gray-light: #F1F2F4;
$light-gray-hover: #E9EAED;
$main-blue: #417EDA;
$blue-hover: #5397FF;
$error-red: #FF4D62;
$family-pink: #F19BB8;
$pink-hover: #FFB5CE;

$df-font: 'Rubik', sans-serif;
$df-font-1: 'Grotesque', sans-serif;


// Mixins
@mixin reset-link {
	color: inherit;
	text-decoration: none;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}
	



$gutter-width: 20px;

// Bootstrap grid

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 768px,
  lg: 1200px,
  xl: 1440px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 767px,
  md: 1198px,
  lg: 1198px,
  xl: 1198px
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           $gutter-width !default;

// Breakpoints
$xl-min: 1440px;
$xl-max: 1439px;
$lg-min: 1201px;
$lg-max: 1200px;
$md-min: 768px;
$md-max: 767px;
