@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: sans-serif
	color: $text
	background-color: #211e77
	overflow-x: hidden

html, body
	height: 100%

.slides
	position: relative
	width: 100%
	height: 100%
	list-style: none
	padding: 0
	margin: 0

.slide
	display: none
	position: relative
	overflow: hidden
	width: 100vw
	height: 100%
	min-height: 900px
	background: linear-gradient(270deg, #5f0bbc, #2a17a0, #07145b)
	background-size: 600% 600%
	animation: gradient 12s ease infinite;
	&[data-slide="0"]
		.grid
			& > *:not(.grid__svg)
				visibility: hidden
	&.active
		display: block
	&__logo
		display: block
		position: absolute
		top: 80%
		left: 1%
		z-index: 10
	&__center
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)

@keyframes gradient
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0% 50%

.loaded
	.slide
		&[data-slide="0"]
			.grid
				*
					visibility: visible


.top-line
	position: absolute
	width: 23%
	top: 36.5%
	left: 34.5%
	display: flex
	align-items: center
	justify-content: space-between
	font-family: Formular
	font-size: 14px
	color: #fff
	&__title
		font-size: inherit
		width: 160px
		color: inherit
		margin-bottom: 0
		font-weight: 400
		line-height: 1.2
	&__menu
		list-style: none
		padding: 0
		margin: 0
		display: flex
		align-items: center
	&__link
		&:not(:last-of-type)
			margin-right: 132px
		a
			color: #fff
			text-decoration: none!important
			outline: none!important
			transition: 0.3s
			&:hover
				color: #DFBCE4

.grid
	position: relative
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	// min-width: 4096px
	// min-height: 3072px
	min-width: 4400px
	min-height: 3100px
	width: 100%
	height: 100%
	&__svg
		display: block
		height: auto
		path
			stroke-width: 1px
		&--0
			path
				mask: url(#mask-0)
		&--1
			// clip-path: polygon(1400px 1100px,1400px 1700px,1600px 1700px,1600px 1800px,1900px 1800px,1900px 2000px, 2800px 2000px, 2800px 1900px,2900px 1900px, 2900px 1600px, 3000px 1600px, 3000px 1400px, 2700px 1400px, 2700px 1200px, 2000px 1200px, 2000px 1100px)
			path
				mask: url(#mask-1)
		&--2
			// clip-path: polygon(1400px 1100px,1400px 1700px,1600px 1700px,1600px 1800px,1900px 1800px,1900px 2000px, 2800px 2000px, 2800px 1900px,2900px 1900px, 2900px 1600px, 3000px 1600px, 3000px 1400px, 2700px 1400px, 2700px 1200px, 2000px 1200px, 2000px 1100px)
			path
				mask: url(#mask-2)
		&--3
			path
				mask: url(#mask-3)
		&--4
			path
				mask: url(#mask-4)

.title
	display: block
	position: absolute
	top: 38.6%
	left: 36.2%
	width: 594px
	overflow: hidden
	svg
		width: 100%
	&--1
		top: 39%
		left: 36.7%
		width: 668px


.cube
	display: block
	position: absolute
	&--1
		top: 45.5%
		left: 38.6%
		width: 500px
	&--2
		top: 35.5%
		left: 62%
		width: 250px
	&--3
		top: 48.5%
		left: 38.7%
		width: 395px

.star
	display: block
	position: absolute
	&.animation
		animation: star 29s linear infinite
	&--1
		width: 195px
		top: 48.5%
		left: 34.1%
	&--2
		width: 95px
		top: 58.2%
		left: 52.3%
	&--3
		width: 95px
		top: 38.8%
		left: 59.1%
	&--4
		width: 100px
		top: 1400px
		left: 1400px
	&--5
		width: 100px
		top: 1200px
		left: 2600px
	&--6
		width: 200px
		top: 1300px
		left: 2700px
	&--7
		width: 200px
		top: 1300px
		left: 2400px
	&--8
		width: 100px
		top: 1600px
		left: 2400px
	&--9
		width: 100px
		top: 1400px
		left: 2700px

@keyframes star
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

.glasses
	display: block
	position: absolute
	&--1
		width: 115px
		top: 1595px
		left: 1492px
		circle
			fill: #6122EF
	&--2
		width: 115px
		top: 1893px
		left: 1692px
		transform: rotate(-45deg)
		circle
			fill: #A526E9
	&--3
		width: 74px
		top: 1363px
		left: 1774px
		z-index: 10
		transform: rotate(15deg)
		circle
			fill: #1400E9
	&--4
		width: 54px
		top: 1623px
		left: 2123px
		transform: rotate(15deg)
		circle
			fill: #A526E9
	&--5
		width: 74px
		top: 1615px
		left: 2813px
		transform: rotate(15deg)
		circle
			fill: #1400E9
	&--6
		width: 54px
		top: 1220px
		left: 2924px
		transform: rotate(15deg)
		circle
			fill: #6122EF

.ellips
	display: block
	position: absolute
	width: 357px
	top: 37.5%
	left: 51.5%

.text
	position: absolute
	width: 526px
	top: 45.5%
	left: 50.7%
	font-family: Formular
	color: #fff
	font-size: 24px
	line-height: 32px
	overflow: hidden
	span
		display: block
		span
			display: inline-block
			margin-bottom: 10px
	&--1
		width: 570px
		top: 49.3%
		left: 50.7%
		font-size: 28px
		line-height: 32px

.share
	position: absolute
	display: flex
	align-items: center
	left: 2200px
	top: 1800px
	height: 100px
	&__insta, &__fb
		position: relative
		height: 100%
		width: 100px
		background-color: #FC3F27
		svg
			display: block
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			margin: auto
	&__insta
		border-right: 1px solid #fff
	&__text
		width: 500px
		height: 100%
		background: linear-gradient(180deg, #1839D2 0%, #1839D2 100%)
		color: #fff
		padding: 30px 40px
		font-size: 16px
		line-height: 18px
		font-family: Formular

@keyframes spinningIcon
	0%, to
		transform: translate3d(0,-1px,0) rotate(2deg)
	25%
		transform: translate3d(1px,0,0) rotate(0deg)
	50%
		transform: translate3d(0,1px,0) rotate(-2deg)
	75%
		transform: translate3d(-1px,0,0) rotate(0deg)

.close
	display: block
	position: absolute
	left: 2900px
	top: 1100px
	width: 101px
	svg
		display: block
		path
			fill: #fff
			transition: 0.3s

.button
	display: block
	position: absolute
	top: 54.4%
	left: 56.1%
	width: 300px
	border-radius: 50%
	background-color: #FC3F27
	outline: none!important
	&::before
		content: ''
		display: block
		position: relative
		padding-top: 100%
	&--1
		top: 50.4%
		left: 59.1%
		z-index: 20
	&--2
		top: 52.6%
		left: 47.1%
		.button__arrow
			transform: rotate(-30deg)
	&__text, &__arrow, &__push
		display: block
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
	&__text
		&--blue
			path
				fill: #2B209F!important
	&__arrow
		width: 27%
	&__push
		width: 50%

.button-square
	display: flex
	justify-content: center
	align-items: center
	position: absolute
	top: 1700px
	left: 2200px
	width: 300px
	height: 100px
	background-color: #FC3F27
	font-family: Lyno
	color: #fff!important
	font-size: 26px
	line-height: 31px
	text-decoration: none!important
	transition: transform 0.3s
	&:hover
		transform: scale(1.05)

.no-touchevents
	.button
		&:hover
			animation: button-spinning .7s linear infinite
			.button__text
				animation: text-spinning 5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite
			.button__arrow, .button__push
				animation: button-spinning .7s linear infinite

	.share
		&__insta, &__fb
			&:hover
				svg
					animation: spinningIcon .7s linear infinite

	.close
		&:hover
			svg
				path
					fill: #DFBCE4

	.gift__button
		&:hover
			span
				animation: spinningIcon .7s linear infinite 



@keyframes button-spinning
	0%, to
		transform: translate3d(0,-6px,0) rotate(2deg)
	25%
		transform: translate3d(6px,0,0) rotate(0deg)
	50%
		transform: translate3d(0,6px,0) rotate(-2deg)
	75%
		transform: translate3d(-6px,0,0) rotate(0deg)

@keyframes text-spinning
	50%
		transform: rotate(0deg)
	75%
		transform: rotate(360deg)
	100%
		transform: rotate(360deg)

.time
	position: absolute
	top: 1130px
	left: 2040px
	font-size: 45px
	line-height: 1
	color: #fff
	font-family: Lyno

.video
	position: absolute
	top: 1200px
	left: 1500px
	width: 1300px
	height: 700px
	clip-path: polygon(0px 0px, 0px 500px, 200px 500px, 200px 700px, 1300px 700px, 1300px 200px,1200px 200px,1200px 0px)
	z-index: 10
	&__stream
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-image: url(/img/@2x/video.png)
		background-repeat: no-repeat
		background-position: 50%
		background-size: cover
		video
			width: 100%
			height: 100%
			object-fit: cover
	&__preview
		visibility: hidden
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-image: url(/img/@2x/zaglushka-1.jpg)
		background-repeat: no-repeat
		background-position: 50%
		background-size: cover
		opacity: 0
		transition: 0.5s
		svg
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			margin: auto
			width: 18%
			animation: star 5s linear infinite


.more
	position: absolute
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between
	width: 300px
	height: 300px
	top: 1100px
	left: 2700px
	padding: 25px
	color: #fff
	&__progress
		display: flex
		align-items: center
		list-style: none
		padding: 0
		margin: 0
	&__star
		animation: star linear
		&:nth-of-type(1)
			animation-delay: 3s
			animation-duration: 2s
		&:nth-of-type(2)
			animation-delay: 8s
			animation-duration: 1s
		&:nth-of-type(3)
			animation-delay: 12s
			animation-duration: 4s
		&:not(:last-of-type)
			margin-right: 14px
		svg
			display: block
			width: 58px
			path
				fill: #F8F8F8
				transition: 0.3s
		&.active
			svg
				path
					fill: #FC3F27
	&__title
		font-size: 22px
		line-height: 38px
		font-family: Lyno
		margin-top: 24px
	&__text
		text-align: center
		font-size: 20px
		line-height: 30px
		font-family: Arial, Helvetica, sans-serif
	&__score
		font-size: 24px
		line-height: 30px
		font-family: Lyno

.help
	display: block
	position: absolute
	top: 1938px
	left: 2862px
	font-family: Fugue
	font-size: 16px
	color: #fff
	text-decoration: none!important
	outline: none!important
	transition: 0.3s
	&:hover
		color: #DFBCE4

.rules
	position: absolute
	top: 1300px
	left: 1700px
	color: #fff
	font-size: 22px
	font-family: Formular
	padding: 26px 14px
	&__top
		margin-bottom: 47px
		line-height: 1
	&__text
		width: 478px

.number
	position: absolute
	width: 200px
	color: #fff
	font-family: Lyno
	text-align: center
	&--1
		top: 1400px
		left: 2300px
	&--2
		top: 1400px
		left: 2500px
	&__value
		font-size: 200px
		line-height: 1
	&__text
		font-size: 33px
		line-height: 1
		text-transform: uppercase

.standart
	position: absolute
	top: 1300px
	left: 1700px
	color: #fff
	padding-top: 109px
	padding-left: 11px
	&__text
		width: 530px
		font-family: Lyno
		font-size: 65px
		line-height: 1
	&__footer
		width: 286px
		font-size: 22px
		line-height: 1
		margin-top: 20px

.overlay
	visibility: hidden
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(#000, 0.4)
	opacity: 0
	transition: 0.5s

.wrapper
	visibility: hidden
	position: absolute
	display: flex
	justify-content: center
	align-items: center
	top: 0
	left: 0
	right: 0
	bottom: 0
	color: #fff
	background-color: rgba(#000, 0.4)
	z-index: 100
	opacity: 0
	transition: 0.5s
	&--help
		background-color: rgba(#000, 0.6)
	&__center
		position: absolute
		left: 50%
		bottom: 50px
		width: 450px
		transform: translateX(-50%)
		text-align: center
	&__value
		color: #fff
		font-size: 250px
		line-height: 1
		font-family: Lyno
	&__title
		font-family: Lyno
		font-size: 33px
		line-height: 1
		margin-bottom: 8px
	&__time
		font-family: Lyno
		font-size: 33px
		line-height: 1.2
		margin-bottom: 8px
	&__text
		font-family: Formular
		font-size: 18px
		line-height: 1.2
	&__button
		display: inline-block
		min-width: 295px
		line-height: 78px
		text-align: center
		background-color: #FC3F27
		color: #fff!important
		margin-top: 15px
		font-family: Lyno
		font-size: 16px
		text-decoration: none!important
		transition: 0.3s
		&--small
			min-width: 187px
		&:hover
			transform: scale(1.05)

.gift
	visibility: hidden
	position: absolute
	width: 372px
	bottom: 200px
	right: 50px
	z-index: 100
	opacity: 0
	transform: scale(0.8)
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
	&__text
		padding: 22px 30px
		background-color: #1839D2
		color: #fff
		font-family: Formular
		font-size: 18px
		line-height: 1.2
	&__footer
		display: flex
		align-items: center
	&__button
		display: block
		width: 50%
		line-height: 77px
		font-size: 16px
		font-family: Lyno
		text-align: center
		text-decoration: none!important
		&--red
			color: #fff!important
			background-color: #FC3F27
		&--white
			color: #FC3F27!important
			background-color: #fff
		span
			display: inline-block

.slide
	&.showOverlay
		.slide__logo 
			path
				fill: #ddd
		.overlay
			visibility: visible
			opacity: 1
		.wrapper
			&--counter
				visibility: visible
				opacity: 1
		.button--1
			display: none
	&.showOverlayStranger
		.slide__logo 
			path
				fill: #ddd
		.overlay
			visibility: visible
			opacity: 1
		.wrapper
			&--stranger
				visibility: visible
				opacity: 1
		.button--1
			display: none
		.time
			display: none
		.more
			*
				display: none
		.help
			display: none

	&.showGift
		.gift
			visibility: visible
			transform: scale(1)
			opacity: 1
		.button--1
			display: none
	&.showWantGift
		.slide__logo 
			path
				fill: #ddd
		.overlay
			visibility: visible
			opacity: 1
		.wrapper
			&--gift
				visibility: visible
				opacity: 1
		.button--1
			display: none
		.time
			display: none
		.more
			*
				display: none
		.help
			display: none
	&.showTimeOver
		.slide__logo 
			path
				fill: #ddd
		.overlay
			visibility: visible
			opacity: 1
		.wrapper
			&--over
				visibility: visible
				opacity: 1
		.button--1
			display: none
		.time
			display: none
		.more
			*
				display: none
		.help
			display: none
	&.showPreview
		.video
			&__preview
				visibility: visible
				opacity: 1
	&.showHelp
		.slide__logo 
			path
				fill: #ddd
		.overlay
			visibility: visible
			opacity: 1
		.wrapper
			&--help
				visibility: visible
				opacity: 1



.rotate
	position: relative
	svg
		display: block
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
	&__text
		font-size: 30px
		line-height: 1
		color: #fff
		font-family: Lyno
		text-align: center
		margin-top: 70px
		span
			color: #FC3F27

.placeholder
	position: absolute
	top: 0
	left: 0
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	height: 100%
	max-height: 100vh
	font-family: Formular
	&__composition
		padding: 15px
		max-width: 514px
	&__img
		position: relative
		width: 199px
		height: 210px
		margin: 0 auto
		margin-bottom: 50px
	&__star, &__face
		display: block
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
	&__star
		width: 100%
		animation: star 29s linear infinite
	&__face
		width: 36%
	&__text
		color: #6681FF
		text-align: center
		font-size: 21px
		line-height: 32px
	&__title
		color: #fff
		text-align: center
		font-size: 30px
		line-height: 40px

.instruction
	position: relative
	font-family: Formular
	font-size: 22px
	line-height: 27px
	color: #fff
	&__top
		position: absolute
		display: block
		top: -60%
		left: 50%
	&__text
		max-width: 492px
		text-align: center
	&__right
		position: absolute
		display: block
		left: 50%
		bottom: -45%
	
		





@media only screen and (min-width : 1920px)
	.video
		top: 1100px
		left: 1300px
		width: 1700px
		height: 900px
		clip-path: polygon(0px 0px, 0px 700px, 200px 700px, 200px 900px, 1700px 900px, 1700px 300px,1400px 300px,1400px 0px)

	.top-line
		&--video
			top: 33.5%

	.time
		top: 1030px

	.button
		&--1
			left: 64%

	.help
		top: 2038px

@media only screen and (min-width : 1920px) and (min-aspect-ratio : 16/9)
	.grid
		&__svg
			&--1
				path
					mask: url(#mask-11)
	.grid
		transform: translate(-50%, -51%)

	.video
		top: 1200px
		left: 1300px
		width: 1700px
		height: 800px
		clip-path: polygon(0px 0px, 0px 600px, 200px 600px, 200px 900px, 1700px 900px, 1700px 200px,1400px 200px,1400px 0px)

	.top-line
		&--video
			top: 36.5%

	.time
		top: 1125px

	.help
		top: 1935px
		left: 3042px

@media only screen and (min-width : 1600px) and (max-width : 1919px)
	.grid
		&__svg
			&--1
				path
					mask: url(#mask-10)

@media only screen and (min-width : 1600px) and (max-width : 1919px) and (min-aspect-ratio : 16/9)
	.slide
		min-height: 894px

	.top-line
		// top: 36.9%

	.button
		top: 53.4%
		&--1
			top: 50.4%

	.text
		top: 45.5%
		&--1
			top: 49.3%

	.cube
		&--2
			top: 36%

	.time
		// top: 1138px

	.help
		top: 1926px

@media only screen and (max-width : 1599px)
	.slide
		min-height: 100%
		height: auto
		&::before
			content: ''
			display: block
			padding-top: 53%
		&__logo
			width: 4%
			top: 42vw
			left: 1%


	.grid
		position: absolute
		top: 0
		left: 0
		min-width: 0
		min-height: 0
		width: 100%
		height: 100%
		transform: translate(0, 0)
		&__svg
			&--0
				path
					mask: url(#mask-01)
			&--1
				path
					mask: url(#mask-12)
			&--2
				path
					mask: url(#mask-21)
			&--3
				// clip-path: polygon(0 0,0 37.6vw,12.4% 37.6vw,12.4% 43.8vw,31.3% 43.8vw,31% 100vw,87.6% 100vw,87.6% 50.1vw,93.9% 50.1vw,93.9% 31.4vw,100% 31.4vw,100% 18.7vw,81.3% 18.7vw,81.3% 6.1vw,37.6% 6.1vw,37.6% 0)
				path
					mask: url(#mask-31)
			&--4
				// clip-path: polygon(0 0,0 37.6vw,12.4% 37.6vw,12.4% 43.8vw,31.3% 43.8vw,31% 100vw,87.6% 100vw,87.6% 50.1vw,93.9% 50.1vw,93.9% 31.4vw,100% 31.4vw,100% 18.7vw,81.3% 18.7vw,81.3% 6.1vw,37.6% 6.1vw,37.6% 0)
				path
					mask: url(#mask-41)

	.top-line
		width: 64%
		top: 2vw
		left: 7.2%
		font-size: 12px
		&__title
			width: 154px
		&__link
			&:not(:last-of-type)
				margin-right: 9vw

	.title
		top: 6vw
		left: 12.2%
		width: 36%
		height: auto
		&--1
			top: 7vw
			left: 13.4%
			width: 42%
			height: auto

	.cube
		&--1
			width: 28%
			top: 18.5vw
			left: 20%
		&--2
			width: 16%
			top: 0vw
			left: 83%
		&--3
			top: 25vw
			left: 18.7%
			width: 25%

	.star
		display: block
		position: absolute
		&--1
			width: 12.5%
			top: 25vw
			left: 6%
		&--2
			width: 6%
			top: 37.5vw
			left: 56.2%
		&--3
			width: 6%
			top: 6.3vw
			left: 75%
		&--4
			width: 6%
			top: 19vw
			left: 0%
		&--5
			width: 6%
			top: 6.2vw
			left: 75%
		&--6
			width: 12%
			top: 12.7vw
			left: 81.5%
		&--7
			width: 12%
			top: 13vw
			left: 63%
		&--8
			width: 6%
			top: 31.7vw
			left: 62.5%
		&--9
			width: 6%
			top: 19vw
			left: 81.5%

	.button
		width: 17%
		top: 36vw
		left: 69.5%
		&--1
			top: 28.5vw
			left: 74.5%
		&--2
			top: 32vw
			left: 40.5%

	.button-square
		top: 37.5vw
		left: 50%
		width: 18.8vw
		height: 6.3vw

	.ellips
		width: 22%
		top: 4vw
		left: 54.5%

	.text
		width: 35%
		top: 20vw
		left: 50.7%
		font-size: 20px
		line-height: 28px
		&--1
			width: 35%
			top: 27vw
			left: 52.7%
			font-size: 22px
			line-height: 26px

	.video
		top: 6.3vw
		left: 6.3%
		width: 81.2%
		height: 43.7vw
		clip-path: polygon(0% 0%, 0% 71.5%, 15.5% 71.5%, 15.5% 100%, 100% 100%, 100% 28%,92.5% 28%,92.5% 0%)

	.help
		font-size: 14px
		top: 46.3vw
		left: 91.5%

	.more
		top: 0
		right: 0
		left: auto
		width: 18.7vw
		height: 18.7vw
		padding: 16px
		&__star
			&:not(:last-of-type)
				margin-right: 21px
			svg
				width: 47px
		&__title
			font-size: 19px
		&__text
			font-size: 16px
			line-height: 26px
		&__score
			font-size: 20px

	.time
		top: 1.5vw
		left: 32.2vw

	.share
		top: 43.8vw
		left: 50%
		height: 6.1vw
		&__insta, &__fb
			height: 100%
			width: 6.3vw
		&__text
			width: 31.1vw
			height: 100%
			padding: 22px 33px
			font-size: 14px
			line-height: 16px

	.glasses
		&--1
			width: 7%
			top: 30.8vw
			left: 5.6%
		&--2
			width: 7%
			top: 46.8vw
			left: 11.9%
		&--3
			width: 5%
			top: 16.8vw
			left: 22.9%
		&--4
			width: 3%
			top: 32.8vw
			left: 45.3%
		&--5
			width: 5%
			top: 31.8vw
			left: 88%
		&--6
			width: 3%
			top: 7.8vw
			left: 95%

	.gift
		right: 3%
		bottom: 13%
		&__text
			font-size: 16px
		&__button
			font-size: 14px

	.rules
		top: 12vw
		left: 18.5%
		&__top
			margin-bottom: 27px
		&__text
			width: 382px

	.number
		width: 12%
		&--1
			top: 19vw
			left: 56.5%
		&--2
			top: 19vw
			left: 69%
		&__value
			font-size: 183px
		&__text
			font-size: 25px

	.close
		top: 0
		left: auto
		right: 0
		width: 5%

	.standart
		top: 9vw
		left: 19%
		&__text
			font-size: 54px

@media only screen and (max-width : 1599px) and (min-width : 1280px) and (min-aspect-ratio : 16/9)
	.slide
		&::before
			padding-top: 47%
		&__logo
			top: 35vw

	.cube
		&--1
			width: 25%
			left: 22%
		&--3
			left: 21.7%
			width: 19%

	.text
		&--1
			// top: 25.5vw
			// left: 51.7%
			// width: 39%
			// font-size: 19px
			// line-height: 20px

	.button
		top: 30vw
		left: 81.5%

	.video
		height: 37.4vw
		clip-path: polygon(0% 0%, 0% 66.5%, 15.5% 66.5%, 15.5% 100%, 100% 100%, 100% 33%,92.5% 33%,92.5% 0%)

	.help
		top: 46.3vw

	.share
		top: 37.6vw


@media only screen and (max-width : 1279px)
	.text
		font-size: 1.5vw
		line-height: 1.3
		&--1
			top: 26vw
			font-size: 20px

	.button
		top: 37vw
		left: 78.5%
		&--1
			top: 28.5vw
			left: 74.5%
		&--2
			width: 240px
			top: 36vw
			left: 38%

	.button-square
		font-size: 20px

	.more
		&__star
			&:not(:last-of-type)
				margin-right: 15px
		&__title
			margin-top: 0

	.share
		top: 50vw
		&__text
			padding: 5px 25px

	.rules
		padding: 23px 13px
		&__top
			margin-bottom: 15px
		&__text
			width: 304px

	.number
		&__value
			font-size: 137px
		&__text
			font-size: 21px

	.standart
		top: 5vw
		left: 19.5%
		&__text
			width: 50%

	.instruction
		font-size: 18px
		line-height: 22px
		&__top
			top: -40px
			height: 4vw
		&__text
			max-width: 350px
		&__right
			left: 50%
			bottom: -45%
			width: 20vw
	

@media only screen and (max-width : 1024px)
	.grid
		&__svg
			&--0
				path
					mask: url(#mask-02)
			&--1
				path
					mask: url(#mask-13)
			&--2
				path
					mask: url(#mask-22)
	.slide
		&__logo
			top: auto
			bottom: -18px

	.top-line
		width: 65%
		top: 1.5%
		&__title
			width: 100px

	.title
		top: 12.5vw

	.ellips
		top: 13.5%

	.cube
		&--1
			top: 25vw
		&--2
			top: 9%
		&--3
			top: 31vw
			left: 11.9%
			width: 32%

	.button
		top: 47vw
		left: 68.5%
		&--1
			top: 48.5vw
			left: 63.5%
		&--2
			top: 40vw

	.star
		&--1
			top: 31vw
		&--2
			top: 67%
		&--3
			top: 16.8%
		&--4
			top: 25vw
		&--5
			top: 12.2vw
		&--6
			top: 18.7vw

	.text
		top: 26vw
		font-size: 16px
		line-height: 20px
		&--1
			top: 33vw
			font-size: 22px
			line-height: 26px

	.more
		&__star
			svg
				width: 40px
		&__title
			font-size: 15px
		&__text
			font-size: 14px
			line-height: 20px
		&__score
			font-size: 16px

	.video
		top: 12.6vw
		height: 49.9vw
		clip-path: polygon(0 0, 0 74.9%, 15.5% 74.9%, 15.5% 100%, 100% 100%, 100% 12%, 92.5% 12%, 92.5% 0%)

	.help
		top: 64.3vw

	.time
		font-size: 34px
		top: 1.5vw
		left: 33.2vw

	.gift
		&__button
			line-height: 85px

	.share
		top: 56.4vw

	.glasses
		&--1
			width: 8%
			top: 43vw
		&--2
			width: 8%
			top: 61.8vw
			left: 11.5%
		&--3
			top: 22.8vw
			left: 25.9%
		&--4
			top: 39vw
		&--5
			top: 38vw
		&--6
			width: 4%
			top: 14vw

	.standart
		top: 3vw
		left: 19.5%
		&__text
			width: 50%

@media only screen and (max-width : 1023px)
	.grid
		&__svg
			&--0
				path
					mask: url(#mask-03)
			
	.slide
		&::before
			// padding-top: 142%
			padding-top: 160%
		&__logo
			width: 9%
			bottom: auto
			top: 125vw
			left: 4%

	.top-line
		width: 80%
		top: 2vw
		left: 10%
		font-size: 10px
		&__link
			&:not(:last-of-type)
				margin-right: 14px

	.title
		top: 18.5vw
		left: 9.2%
		width: 53%

	.text
		top: 74vw
		left: 11%
		width: 77%
		font-size: 4vw
		line-height: 1.4

	.cube
		&--1
			top: 36vw
			left: 56%
			width: 33%
		&--2
			top: 127vw
			left: 19%
			width: 16%

	.ellips
		top: 8vw
		left: 62%
		width: 30%

	.star
		&--1
			top: 46vw
			left: 10%
			width: 17%
		&--2
			top: 82vw
			left: 91%
			width: 9%
		&--3
			top: 37vw
			left: 36%
			width: 9%

	.button
		width: 35%
		top: 121vw
		left: 53.5%

	.button-square
		top: 34.9vw
		left: 40%
		width: 15vw
		height: 5vw
		font-size: 16px

	.placeholder
		&__composition
			padding: 15px
			max-width: 400px
		&__img
			position: relative
			width: 140px
			height: 160px
			margin-bottom: 0px
		&__star
			animation: star 29s linear infinite
		&__text
			font-size: 16px
			line-height: 24px
		&__title
			font-size: 20px
			line-height: 30px
	
		

@media only screen and (max-width : 1023px) and (orientation: portrait)
	.slide
		&--landscape
			display: none
			&.active
				display: none
			
				& ~ .slide--portrait
					display: block


@media only screen and (max-width : 1023px) and (orientation: landscape)
	.slide
		&--landscape
			&::before
				padding-top: 56%
			&--landscape
				width: 5%
				top: 35vw
				left: 2%
		&__logo
			&--landscape
				width: 5%
				bottom: auto
				top: 36vw
				left: 2%

	.grid
		&__svg
			&--1
				path
					mask: url(#mask-14)
			&--2
				path
					mask: url(#mask-23)
			&--3
				// clip-path: polygon(0 0, 0 40vw, 12.4% 40vw, 15.4% 45.6vw, 29.6% 45.6vw, 31% 100vw, 90% 100vw, 90% 50.1vw, 95.1% 50.1vw, 95.1% 39.4vw, 100% 35.4vw, 100% 24.7vw, 80.3% 24.7vw, 80.3% 5vw, 35.6% 4.5vw, 35.6% 0)
				path
					mask: url(#mask-32)
			&--4
				// clip-path: polygon(0 0, 0 40vw, 12.4% 40vw, 15.4% 45.6vw, 29.6% 45.6vw, 31% 100vw, 90% 100vw, 90% 50.1vw, 95.1% 50.1vw, 95.1% 39.4vw, 100% 35.4vw, 100% 24.7vw, 80.3% 24.7vw, 80.3% 5vw, 35.6% 4.5vw, 35.6% 0)
				path
					mask: url(#mask-41)

	.wrapper
		&__center
			width: 300px
			bottom: 20px
		&__title
			font-size: 22px
		&__button
			line-height: 50px
			font-size: 14px
			min-width: 250px
			&--small
				min-width: 130px
		
	.top-line
		&--landscape
			width: 77%
			top: 0.5vw
			left: 6%
			&:not(:last-of-type)
				margin-right: 14px

	.button
		&--1
			width: 20%
			top: 28vw
			left: 76.5%
		&--2
			width: 20%
			top: 28vw
			left: 67.5%

	.time
		font-size: 16px
		top: 1vw
		left: 50.5vw

	.more
		width: 15%
		height: 15vw
		padding: 7px
		&__title
			width: 100%
			font-size: 55%
			line-height: 1.2
			text-align: center
		&__text, &__score
			width: 100%
			font-size: 55%
			line-height: 1.2
			text-align: center
		&__score

		&__star
			&:not(:last-of-type)
				margin-right: 8px
			svg
				width: 100%

	.video
		top: 5.1vw
		left: 5%
		width: 85.1%
		height: 44.9vw
		clip-path: polygon(0 0, 0 77.9%, 11.5% 77.9%, 11.5% 100%, 100% 100%, 100% 22%,94% 22%,94% 0%)

	.help
		top: 50.3vw
		left: 86%

	.ellips
		&--1
			top: 3vw
			left: 43%
			width: 18%

	.title
		&--1
			top: 10.3vw
			left: 10.2%
			width: 35%

	.star
		&--4
			width: 5%
			top: 20vw
			left: 0%
		&--5
			width: 5%
			top: 10.2vw
			left: 80%
		&--6
			width: 10%
			top: 15.7vw
			left: 85%

	.cube
		&--3
			top: 25vw
			left: 13.7%
			width: 26%

	.share
		top: 45vw
		left: 45%
		height: 10.1vw
		&__insta, &__fb
			width: 10.1vw
		&__text
			padding: 11px
			width: 35vw
			font-size: 10px
			line-height: 1.2

	.text
		&--1
			top: 16vw
			left: 46.7%
			width: 33%
			font-size: 14px
			line-height: 18px

	.glasses
		&--1
			width: 6%
			top: 39.7vw
			left: 9.3%
		&--3
			top: 17.8vw
			left: 16.9%
		&--4
			width: 4%
			top: 31vw
			left: 40.3%
		&--5
			width: 5%
			top: 30.5vw
			left: 90%

	.rules
		top: 9vw
		left: 9.5%
		padding: 17px 9px
		font-size: 90%
		&__text
			width: 27vw

	.number
		&--1
			top: 16vw
			left: 44.5%
		&--2
			top: 16vw
			left: 54.5%
		&__value
			font-size: 10vw
		&__text
			font-size: 60%

	.standart
		top: 8vw
		left: 14.5%
		padding: 17px 9px
		font-size: 90%
		width: 27vw
		&__text
			font-size: 4vw
			width: 100%
		&__footer
			width: 100%
			font-size: 14px
			margin-top: 5px

	.wrapper
		&__value
			font-size: 120px
		&__time
			font-size: 22px
		&__text
			font-size: 12px

	.gift
		width: 230px
		&__text
			font-size: 10px
			padding: 15px
		&__button
			line-height: 40px
			font-size: 10px

			

@media only screen and (max-width : 768px) and (min-width : 768px)
	.slide
		&::before
			padding-top: 160%
		&--landscape
			&::before
				padding-top: 56%

@media only screen and (max-width : 1023px) and (min-width : 768px)
	.slide
		&__logo
			// top: 109vw
			&--landscape
				width: 5%
				top: 35vw
				left: 2%

	.cube
		&--2
			// top: 101vw

	.text
		// top: 88vw
		&--1
			top: 16vw


	.button
		// top: 97vw
		&--1
			width: 20%
			top: 28vw
			left: 76.5%
		&--2
			width: 20%
			top: 28vw
			left: 67.5%
